(
    name: "Neon Doll Light",
    foreground: "#1a1522",
    background: "#f7f4fa",
    cursor: "#c8006a",
    bright_foreground: "#1a1522",
    dim_foreground: "#5f5670",
    normal: (
        black: "#d6cce2",
        red: "#c4312a",
        green: "#1f7a33",
        yellow: "#8a6100",
        blue: "#3f5cd0",
        magenta: "#6a3fd0",
        cyan: "#1f6e7a",
        white: "#3c3649",
    ),
    bright: (
        black: "#5f5670",
        red: "#802627",
        green: "#1d522c",
        yellow: "#5d430e",
        blue: "#30408a",
        magenta: "#4a2e8a",
        cyan: "#1d4a57",
        white: "#1a1522",
    ),
    dim: (
        black: "#e0d8e9",
        red: "#d36c68",
        green: "#609f6f",
        yellow: "#ab8d4b",
        blue: "#768add",
        magenta: "#9475dd",
        cyan: "#6096a0",
        white: "#746f7e",
    ),
)
